@import url("@/styles/variables.css");

.select-field {
  display: flex;
  flex-direction: column;
  margin-right: var(--spacing-lg);
}

.select-field label {
  margin-bottom: var(--spacing-sm);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  color: var(--cor6);
}

.select-element {
  padding: var(--spacing-md) var(--spacing-lg);
  border: 1px solid var(--cor8);
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-md);
  transition: border-color var(--transition-normal), box-shadow var(--transition-normal);
  background-color: var(--cor3);
}

.select-element:focus {
  border-color: var(--cor1);
  box-shadow: 0 0 5px var(--cor9);
  outline: none;
}

.select-element option[value=""] {
  color: var(--cor5);
}
