@import url("@/styles/variables.css");

.cadastrarTratamentoForm-botoes {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
}

.cadastrarTratamentoForm-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
    margin-top: var(--spacing-md);
}