@import url("@/styles/variables.css");


.sidebar-logout-wrapper {
    padding: var(--spacing-sm);
    width: 100%;
}

.sidebar-logout-button {
    background-color: var(--cor10);
    border: none;
    display: flex;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-lg);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    transition: background-color var(--transition-fast);
    width: 100%;
}

.sidebar-logout-button:hover {
    background-color: var(--cor2);
}

.sidebar-logout-button:hover .sidebar-logout-icon svg,
.sidebar-logout-button:hover .sidebar-logout-text {
    color: var(--cor10);
    fill: var(--cor10);
}

.sidebar-logout-icon {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--spacing-sm);
}

.sidebar-logout-icon svg {
    width: 18px;
    color: var(--cor3);
    fill: var(--cor3);
}

.sidebar-logout-text {
    margin-top: 5px;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--cor3);
}