@import url('../../styles/variables.css');

.form-descriptor {
    background-color: var(--cor1);
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    margin: 0.8rem 0;
    display: inline-block;
}

.form-descriptor-label {
    color: var(--cor3);
    font-weight: 500;
    font-size: 0.85rem;
    letter-spacing: 0.3px;
}