@import url('../../styles/variables.css');

.form-descriptor {
    background-color: var(--cor1);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius-lg);
    margin: var(--spacing-md) 0;
    display: inline-block;
}

.form-descriptor-label {
    color: var(--cor3);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    letter-spacing: 0.3px;
}