@import url('../../styles/variables.css');

.profissional-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.profissional-container__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profissional-container__content__title {
    flex: 5%;
    padding: var(--spacing-md);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl);
}

.profissional-container__content__title-line {
    width: 100%;
    height: 1px;
    background-color: var(--cor4);
}

.profissional-container__content__top {
    display: flex;
    flex-direction: row;
    flex: 5%;
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-md);
}

.profissional-container__content__top .searchbar-container {
    flex: 87%;
}

.profissional-container__content__top .actionbutton-container {
    flex: 13%;
    margin-left: var(--spacing-md);
}

.profissional-container__content__table {
    flex: 88%;
    margin: var(--spacing-xl);
}

.profissional-container__content__pagination {
    flex: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-xl);
}