@import url('../../../styles/variables.css');

.profissionalProfile-container{
    display: flex;
    flex-direction: column;
}

.profissionalProfile-container__title {
    flex: 5%;
}

.profissionalProfile-container__main-content {
    flex: 95%;
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-xxl);
}

.profissionalProfile-container__avatar {
    flex: 1;
}

.profissionalProfile-container__avatar .avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profissionalProfile-container__informations {
    border: 1px solid yellow;
    flex: 1;
}